<div class = "container">

<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

<div class = "row">

<div class = "col-xs-3">

<%= render 'users/user_info', user: @user, book: Book.new %>

</div>

<div class = "col-xs-9">

<h1>Book detail</h1>

<table class="table">

<!-- tr>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th></th>
</tr> -->

<tr>

  <td><%= link_to user_path(@book.user.id) do %>
  	<%= attachment_image_tag @user, :profile_image, :fill, 60,60, fallback: "noimage.jpg",size:"60x60" %>
  	<br><%= @book.user.name %>
  	<% end %>
  </td>

  <td><%= link_to book_path(@book) do %>
  	<%= @book.title %>
  	  <% end %>
  </td>

  <td><%= @book.body %></td>

  <% if @book.user_id == current_user.id %>

  <td>
    <div class="btn btn-success btn-sm" ><%= link_to 'Edit',edit_book_path(@book) %></div>
  </td>

  <% end %>


  <% if @book.user_id == current_user.id %>

  <td>
    <div class="btn btn-danger btn-sm"><%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></div>
  </td>

  <% end %>

</tr>
</table>

</div>

</div>

</div>